@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration:none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	color:#666666;
	font-size:12px;
	font-weight:300;
	font-family:'Open Sans', Hiragino Sans GB, LiHeiPro, 微軟正黑體,  'Helvetica Neue', Arial, sans-serif;
	line-height: 1;
}

body.hidebar{
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.center, .wrap{
	width:960px;
	margin:0 auto;
}

#container{
	display:none;
}

#banner{
	color:#FFFFFF;
	min-width:1080px;
	min-height:680px;
	text-align:center;
}

#banner h1{
	width:820px;
	height:142px;
	background:url("../imgs/title.png") no-repeat center top;
	margin:0 auto;
	text-indent:-9999px;
	-webkit-animation-duration: 0.6s;
			animation-duration: 0.6s;
	-webkit-animation-fill-mode: both;
	  		animation-fill-mode: both;
}

#banner hr{
	width:400px;
	border-top: 1px solid #FFFFFF;
	margin:30px auto;
}

#banner strong{
	font-size:30px;
	font-weight:400;
	margin-bottom:30px;
	display:block;
	-webkit-animation-duration: 0.6s;
			animation-duration: 0.6s;
	-webkit-animation-fill-mode: both;
	  		animation-fill-mode: both;
}

#banner p{
	color:#FFFFFF;
	font-size:14px;
	line-height:24px;
	-webkit-animation-duration: 0.6s;
			animation-duration: 0.6s;
	-webkit-animation-fill-mode: both;
	  		animation-fill-mode: both;
}

#banner a.go{
	color:#000000;
	font-size:18px;
	font-weight:700;
	width:280px;
	height:50px;
	line-height:50px;
	text-align:center;
	margin:50px auto 0 auto;
	background:#FFFFFF;
	display:block;
	text-decoration:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 5px 0px 0px #CCCCCC;
	-webkit-box-shadow: 0px 5px 0px 0px #CCCCCC;
	box-shadow: 0px 5px 0px 0px #CCCCCC;
	-webkit-animation-duration: 0.6s;
			animation-duration: 0.6s;
	-webkit-animation-fill-mode: both;
	  		animation-fill-mode: both;
}

#banner a:hover{
	background:#CCCCCC;
	-moz-box-shadow: 0px 5px 0px 0px #666666;
	-webkit-box-shadow: 0px 5px 0px 0px #666666;
	box-shadow: 0px 5px 0px 0px #666666;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.fixed{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 30;
}

.v100{
	width: 100%;
    height: 100%;
    display: table
}

.valgin{
	vertical-align: middle;
	display: none;
}

.valgin.show{
	display: table-cell;
}

#media {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    object-fit: cover;
}

.wrap{
	padding:120px 60px 130px 60px;
	border-bottom:1px solid #CCCCCC;
	position:relative;
}

.wrap.none{
	padding:120px 60px 0 60px;
	border:none;
}

.wrap header{
	margin-bottom:30px;
}

#wrap3 header, #wrap4 header{
	margin-bottom:0px;
}

.update{
	color: #88BAFD;
	font-size: 16px;
	padding-bottom: 20px;
	text-align: center;
}

.wrap h1{
	color:#231815;
	font-size:36px;
	text-align:center;
	margin-bottom:30px;
}

.wrap header p{
	font-size:16px;
	line-height:24px;
	text-align:center;
}

.progress-bar{
	margin-bottom:20px;
}

.graphic{
	text-align:center;
}

.graphic ul{
	display:inline-block;
}

.graphic li{
	float:left;
}

.graphic li h2{
	color:#000000;
	font-size:18px;
	padding-bottom:15px;
}

.graphic li p{
	color:#000000;
	font-size:16px;
	font-weight:400;
	margin-bottom:30px;
}

.graphic p.unit{
	color:#999999;
	font-size:13px;
	margin-top:10px;
}

p.note{
	color:#999999;
	font-size:13px;
	text-align: center;
	padding-top:30px;
}

p.note a{
	color: #999999;
	text-decoration: underline;
}

p.note a:hover{
	color: #111111;
}

.head{
	width:70px;
	height:28px;
	background-image:url("../imgs/c_01.gif");
	background-repeat:no-repeat;
	position:absolute;
	left:20px;
	bottom:1px;
}

.tw .head{
	background-position: left top;
}

.usa .head{
	background-position: -110px -61px;
}

.aus .head{
	background-position: -220px -67px;
}

.uk .head{
	background-position: -330px -71px;
}

.jp .head{
	background-position: -440px -85px;
}

.nl .head{
	background-position: -660px -104px;
}

.kor .head{
	background-position: -550px -94px;
}

.hk .head{
	background-position: -770px -120px;
}

.housebar{
	width:70px;
	height:1px;
	background-repeat: repeat-y;
	position:absolute;
	left:20px;
	bottom:0;
}

#graphic1 .housebar{
	background-image:url("../imgs/c_01.gif");
}

#graphic1 .tw .housebar{
	background-position: left bottom;
}

#graphic1 .usa .housebar{
	background-position: -110px bottom;
}

#graphic1 .aus .housebar{
	background-position: -220px bottom;
}

#graphic1 .uk .housebar{
	background-position: -330px bottom;
}

#graphic1 .jp .housebar{
	background-position: -440px bottom;
}

#graphic1 .nl .housebar{
	background-position: -660px bottom;
}

#graphic1 .kor .housebar{
	background-position: -550px bottom;
}

#graphic1 .hk .housebar{
	background-position: -770px bottom;
}


#graphic1 li{
	width:110px;
}

#graphic1 li .progress-bar{
	height:267px;
	position:relative;
}

#graphic2{
	position:relative;
}

#graphic2 #data{
	position:absolute;
	left:-9999em;
	top:-9999em;
}

#graphic2 #holder{
	width:854px;
	height:335px;
	margin:0 auto;
	/*border:1px solid #CCCCCC;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;*/
}

#graphic2 strong{
	color:#231815;
	font-size:15px;
	width:20px;
	line-height:18px;
	position:absolute;
	left:0;
	top:180px;
}

#graphic2 p.unit{
	color:#231815;
	font-size:15px;
	margin:0;
	position:absolute;
	left:0;
	top:308px;
}

#graphic3 li{
	width:80px;
}

#graphic3 li .progress-bar{
	height:194px;
	position:relative;
}

#graphic3 li .head{
	width:66px;
	height:26px;
	background:url("../imgs/c_04.gif") no-repeat left top;
	position:absolute;
	left:7px;
	bottom:20px;
}

#graphic3 li .bar{
	width:66px;
	height:20px;
	background:url("../imgs/c_04.gif") no-repeat left bottom;
	background-repeat:repeat-y;
	position:absolute;
	left:7px;
	bottom:0;
}

#graphic3 li p.runNum{
	margin-bottom:10px;
}

#graphic4 li{
	width:110px;
}

#graphic4 li .progress-bar{
	height:129px;
	position:relative;
}

#graphic4 .housebar{
	background-image:url("../imgs/c_02.gif");
}

#graphic4 .tw .housebar{
	background-position: left bottom;
}

#graphic4 .usa .housebar{
	background-position: -440px bottom;
}

#graphic4 .aus .housebar{
	background-position: -660px bottom;
}

#graphic4 .uk .housebar{
	background-position: -550px bottom;
}

#graphic4 .jp .housebar{
	background-position: -330px bottom;
}

#graphic4 .nl .housebar{
	background-position: -110px bottom;
}

#graphic4 .kor .housebar{
	background-position: -220px bottom;
}

#graphic4 .hk .housebar{
	background-position: left bottom;
}

#graphic5 li{
	width:240px;
}

#graphic5 .icon{
	width:210px;
	height:210px;
	margin:0 auto 20px auto;
	background-image:url(../imgs/c_05.gif);
	background-repeat:no-repeat;
	text-indent:-9999px;
	margin-top:30px;
}

#graphic5 .animate .icon{
	
}

#graphic5 .icon1 .icon{
	width:226px;
	background-position: left 210px;
}

#graphic5 .icon2 .icon{
	width:234px;
	background-position: -242px 210px;
}

#graphic5 .icon3 .icon{
	background-position: -512px 210px;
}

#graphic5 .icon4 .icon{
	background-position: -761px 210px;
}

#graphic5 .animate .icon{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#graphic5 .icon1.animate .icon{
	background-position: left top;
	/*-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;*/
}

#graphic5 .icon2.animate .icon{
	background-position: -242px top;
	/*-webkit-transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	transition: all 1.2s ease;*/
}

#graphic5 .icon3.animate .icon{
	background-position: -512px top;
	/*-webkit-transition: all 1.4s ease;
	-moz-transition: all 1.4s ease;
	-ms-transition: all 1.4s ease;
	-o-transition: all 1.4s ease;
	transition: all 1.4s ease;*/
}

#graphic5 .icon4.animate .icon{
	background-position: -761px top;
	/*-webkit-transition: all 1.6s ease;
	-moz-transition: all 1.6s ease;
	-ms-transition: all 1.6s ease;
	-o-transition: all 1.6s ease;
	transition: all 1.6s ease;*/
}

#graphic5 li h2{
	font-size:21px;
}

#graphic5 li p{
	color:#666666;
	font-size:16px;
	line-height:24px;
}

#graphic6 li{
	width:132px;
}

#graphic6 .icon{
	width:90px;
	height:90px;
	margin:0 auto 20px auto;
	background-image:url(../imgs/c_06.gif);
	background-repeat:no-repeat;
	text-indent:-9999px;
	margin-top:30px;
}

#graphic6 .animate .icon{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#graphic6 .icon1 .icon{
	background-position:left 90px;
}

#graphic6 .icon2 .icon{
	background-position:-140px 90px;
}

#graphic6 .icon3 .icon{
	background-position:-280px 90px;
}

#graphic6 .icon4 .icon{
	background-position:-420px 90px;
}

#graphic6 .icon5 .icon{
	background-position:-561px 90px;
}

#graphic6 .icon6 .icon{
	background-position:-701px 90px;
}

#graphic6 .icon7 .icon{
	background-position:-842px 90px;
}

#graphic6 .icon1.animate .icon{
	background-position:left top;
}

#graphic6 .icon2.animate .icon{
	background-position:-140px top;
}

#graphic6 .icon3.animate .icon{
	background-position:-280px top;
}

#graphic6 .icon4.animate .icon{
	background-position:-420px top;
}

#graphic6 .icon5.animate .icon{
	background-position:-561px top;
}

#graphic6 .icon6.animate .icon{
	background-position:-701px top;
}

#graphic6 .icon7.animate .icon{
	background-position:-842px top;
}

#graphic5 .animate .icon:hover, #graphic6 .animate .icon:hover{
	margin-top:15px;
	padding-bottom:15px;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

#graphic7 li{
	width:110px;
}

#graphic7 li .progress-bar{
	height:198px;
	position:relative;
}

#graphic7 .housebar{
	background-image:url("../imgs/c_03.gif");
}

#graphic7 .tw .housebar{
	background-position: -110px bottom;
}

#graphic7 .usa .housebar{
	background-position: -550px bottom;
}

#graphic7 .aus .housebar{
	background-position: left bottom;
}

#graphic7 .uk .housebar{
	background-position: -220px bottom;
}

#graphic7 .jp .housebar{
	background-position: -330px bottom;
}

#graphic7 .nl .housebar{
	background-position: left bottom;
}

#graphic7 .kor .housebar{
	background-position: -440px bottom;
}

#graphic7 .hk .housebar{
	background-position: -110px bottom;
}

#graphic8{
	width:770px;
	height:228px;
	margin:0 auto;
	padding-bottom:90px;
	background:url("../imgs/c_07.gif") no-repeat center top;
}

#graphic8 .col{
	width:50%;
	padding-top:40px;
}

#graphic8 .left{
	float:left;
	text-align:left;
}

#graphic8 .right{
	float:right;
	text-align:right;
}

#graphic8 .col strong.label{
	color:#666666;
	font-size:15px;
	margin-bottom:5px;
	display:block;
}

#graphic8 .col p{
	color:#000000;
	font-size:24px;
	font-weight:700;
	margin-bottom:30px;
}

#graphic9{
	background:url(../imgs/bkg_01.gif) no-repeat center 20px;
	min-width:960px;
	min-height:330px;
	text-align:center;
	position:relative;
}

.goalWrap{
	width:1120px;
	margin: 0 -80px;	
	display:inline-block;
	padding-bottom:30px;
}

.goalWrap .goal{
	color:#CCCCCC;
	font-size:13px;
	width:160px;
	float:left;
}

#graphic9 strong.label{
	color:#000000;
	font-size:21px;
	margin-bottom:10px;
	display:block;
}

#graphic9 .table{
	width:960px;
	padding-bottom:45px;
	display:table;
}

#graphic9 .progress{
	display:table-row;
}

#graphic9 .col{
	width:50%;
	display:table-cell;
}

#graphic9 .col p{
	font-size:16px;
	font-weight:700;
	line-height:30px;
}

#graphic9 .col .bar{
	min-width:1px;
	height:30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#graphic9 .left p{
	color:#F9494E;
	float:right;
}

#graphic9 .right p{
	color:#5E97E6;
	float:left;
}

#graphic9 .left .bar{
	background:#F9494E;
	float:right;
	margin:0 2px 0 10px;
}

#graphic9 .right .bar{
	background:#5E97E6;
	float:left;
	margin:0 10px 0 2px;
}

#graphic9 p.note{
	padding-top:70px;
}

hr.line{
	width:600px;
	border-top:1px solid #CCCCCC;
	margin:20px auto 0 auto;
}

.scrollDown{
	width:960px;
	height:40px;
	background:url(../imgs/down.gif) no-repeat center top;
	position:absolute;
	bottom:0;
	text-indent:-9999px;
	display:block;
}

#news .scrollDown, #news2 .scrollDown{
	width:1000px;
}

.scrollDown:hover{
	background:url(../imgs/down.gif) no-repeat center bottom;
}

.cycle{
	text-align:center;
	position:relative;
}

.cycle .item{
	padding-top:50px;
	display:none;
}

.cycle .caption{
	
}

.cycle .item h2{
	color:#000000;
	font-size:30px;
	margin-bottom:20px;
}

.cycle .item p{
	font-size:16px;
	line-height:24px;
}

.cycle .item a{
	color:#5596E6;
	font-size:15px;
	padding:20px 0 25px 0;
	display:inline-block;
}

.cycle .item .col a:hover{
	text-decoration:underline;
}

.cycle .item a .downImg{
	width:11px;
	height:6px;
	background:url(../imgs/op_allow.gif) no-repeat left top;
	display:inline-block;
	transform: translate(0, -2px);
}

.cycle .item a.open .downImg{
	background:url(../imgs/op_allow.gif) no-repeat left bottom;
}

.cycle .item img{
	display:block;
}

.cycle #nextBtn, .cycle #prevBtn{
	position:absolute;
	bottom:240px;
	z-index:10;
	width:60px;
	height:60px;
	background-image:url(../imgs/allow.gif);
	background-repeat:no-repeat;
	text-indent:-9999px;
	display:block;
	filter:alpha(opacity=0.6);
	-moz-opacity:0.6;
	opacity: 0.6;
}

.cycle #nextBtn{
	right:0;
	background-position:-60px top;
}

.cycle #prevBtn{
	left:0;
}

.cycle #nextBtn:hover, .cycle #prevBtn:hover{
	filter:alpha(opacity=1);
	-moz-opacity:1;
	opacity: 1;
}

.slideDown{
	padding:25px 0 25px 0;
	text-align:left;
	position:absolute;
	z-index:20;
	background:#FFFFFF;
	display:none;
}

.slideDown .col{
	width:380px;
	float:left;
}

.slideDown .left{
	padding:0 20px 0 80px;
}

.slideDown .right{
	padding:0 80px 0 20px;
}

.slideDown .col .row{
	padding-bottom:15px;
}

.slideDown .col .label{
	font-size:17px;
	line-height:23px;
	float:left;
}

.slideDown .col p{
	font-size:17px;
	line-height:23px;
	float:left;
}

.slideDown .left .label{
	width:95px;
}

.slideDown .left p{
	width:285px;
}

.slideDown .right .label{
	width:125px;
}

.slideDown .right p{
	width:255px;
}

.slideDown .col a{
	padding:0;
}

#pager{
	padding-top:13px;
	text-align:center;
}

#pager li{
	display:inline-block;
}

#pager a{
	padding:7px;
	display:block;
}

#pager a span{
	width:10px;
	height:10px;
	text-indent:-9999px;
	display:block;
	background:#CCCCCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#pager a:hover span, #pager .current a span{
	background:#FF5C5C;
}

#total{
	padding:100px 0 0 0;
	border:none;
}

#total p{
	font-size:17px;
	line-height:30px;
	margin-bottom:25px;
	text-align: center;
}

img.middle{
	margin:0 auto 30px auto;
	display:block;
}

.links{
	padding-top:105px;
	text-align:center;
}

.links h2{
	color:#000000;
	font-size:36px;
	margin-bottom:35px;
}

.links a{
	color:#FFFFFF;
	font-size:16px;
	width:280px;
	height:50px;
	text-align:center;
	line-height:50px;
	background:#FF4A4A;
	margin:0 10px;
	text-decoration:none;
	display:inline-block;
	-moz-box-shadow: 0px 5px 0px 0px #D43F3F;
	-webkit-box-shadow: 0px 5px 0px 0px #D43F3F;
	box-shadow: 0px 5px 0px 0px #D43F3F;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.links a:hover{
	background:#D43F3F;
	-moz-box-shadow: 0px 5px 0px 0px #AF3434;
	-webkit-box-shadow: 0px 5px 0px 0px #AF3434;
	box-shadow: 0px 5px 0px 0px #AF3434;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.links a img{
	margin-right:5px;
	vertical-align:text-bottom
}

.cover{
	width: 100%;
	height: 100vh;
	background: #3983BF;
	overflow: hidden;
	background: url('../imgs/housing_bg.gif') no-repeat center bottom;
	background-size: cover;
}

.cover svg{
	width: auto;
	height: 100%;
}

.video{
	position:relative;
	margin-bottom:40px;
}

.video .play{
	width:960px;
	height:540px;
	position:absolute;
	z-index:2;
	display:block;
}

.video .play span{
	width:140px;
	height:140px;
	margin:200px auto 0 auto;
	background:url("../imgs/play.gif") no-repeat left top;
	text-indent:-9999px;
	display:block;
}

.video .play:hover span{
	background:url("../imgs/play.gif") no-repeat left bottom;
}

.newsWrap{
	margin: 0 -10px;
}

.newsWrap ul{
	width: 50%;
	float: left;
	padding: 0 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.newsWrap ul li{
	list-style-position:inside;
	list-style-type:disc;
	border-bottom:1px solid #CCCCCC;
	padding:10px 0;
}

*::-ms-backdrop, .newsWrap ul li{ 
	list-style: none;
}

.newsWrap hr{
	border-top:1px solid #CCCCCC;
	width:470px;
}

.newsWrap hr.leftLine{
	float:left;
	margin-left: 10px;
}

.newsWrap hr.rightLine{
	float:right;
	margin-right: 10px;
}

.newsWrap a{
	color:#231815;
	font-size:15px;
	line-height:21px;
	text-indent: -25px;
	margin-left: 25px;
	display: block;
}

.newsWrap li:hover{
	color:#FF5C5C;
	border-bottom:1px solid #FF5C5C;
}

.newsWrap li:hover a{
	color:#FF5C5C;
}

#news.wrap, #news2.wrap{
	width:1000px;
	padding-left:40px;
	padding-right:40px;
	margin:0 auto;
}

.gallery{
	
}

.gallery .post{
	width:293px;
	float:left;
	margin:0 20px;
	display:block;
}

.gallery .post .mark, .gallery .post .mask{
	width:293px;
	height:162px;
	position:absolute;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.gallery .post .mark{
	background:url(../imgs/mark.png) no-repeat center center;
	z-index:3;
}

.gallery .post .mask{
	background:#5596E6;
	z-index:2;
}

.gallery .post a{
	position:relative;
	display:block;
}

.gallery .post img{
	margin-bottom:15px;
	display:block;
}

.gallery .post h2{
	color:#231815;
	font-size:21px;
	line-height:28px;
	margin-bottom:10px;	
}

.gallery .post p{
	color:#231815;
	font-size:16px;
	line-height:24px;
	margin-bottom:40px;
}

.gallery .post:hover h2{
	color:#5596E6;
}

.gallery .post:hover .mark{
	filter:alpha(opacity=1);
	-moz-opacity:1;
	opacity: 1;
}

.gallery .post:hover .mask{
	filter:alpha(opacity=0.7);
	-moz-opacity:0.7;
	opacity: 0.7;
}

.home1000{
}

.home1000 img{
	float:left;
}

.home1000 p{
	font-size:18px;
	line-height:30px;
	float:left;
	width:465px;
	margin-left:15px;
}

a.linkto{
	color:#231815;
	font-size:18px;
	font-weight:700;
	width:300px;
	height:50px;
	line-height:50px;
	text-align:center;
	margin:50px auto 0 auto;
	display:block;
	background:#FADE5C;
	-moz-box-shadow: 0px 5px 0px 0px #C7B047;
	-webkit-box-shadow: 0px 5px 0px 0px #C7B047;
	box-shadow: 0px 5px 0px 0px #C7B047;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

a.linkto:hover{
	background:#C8B14A;
	-moz-box-shadow: 0px 5px 0px 0px #9F8D39;
	-webkit-box-shadow: 0px 5px 0px 0px #9F8D39;
	box-shadow: 0px 5px 0px 0px #9F8D39;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#googlemap{
	height: 540px;
}

.arrow{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	position: absolute;
	left: -8px;
	top: 40%;
}

.mapinfo{
	color: #FFF;
	font-size: 14px;
	line-height: 150%;
	padding: 10px;
	margin-left: 8px;
	position: relative;
}

.bgred{
	background: #FF4600;
}

.bggray{
	background: #868686;
}

.bgblue{
	background: #5796EA;
}

.bgred .arrow{
	border-color: transparent #FF4600 transparent transparent;
}

.bggray .arrow{
	border-color: transparent #868686 transparent transparent;
}

.bgblue .arrow{
	border-color: transparent #5796EA transparent transparent;
}

.count{
	padding-top: 40px;
	text-align: center;
}

.count span{
	color: #000;
	font-size: 16px;
	padding: 0 12px;
	display: inline-block;
}

.count strong{
	color: #5596E6;
	font-size: 51px;
	font-weight: 700;
	padding-right: 5px;
}

.tab{
	padding: 45px 0 0 0;
	text-align: center;
}

.tab a{
	color: #666;
	font-size: 16px;
	padding: 0 12px;
	display: inline-block;
}

.tab a:hover, .tab a.active{
	color: #5596E6;
}

.tab a span{
	padding-bottom: 8px;
	display: block;
}

.tab a:hover span, .tab a.active span{
	padding-bottom: 7px;
	border-bottom: 1px solid #5596E6;
}

.tab a.type1:hover span, .tab a.type1.active span{
	color: #FF4600;
	border-bottom: 1px solid #FF4600;
}

.tab a.type2:hover span, .tab a.type2.active span{
	color: #868686;
	border-bottom: 1px solid #868686;
}

.tab a.type3:hover span, .tab a.type3.active span{
	color: #5796EA;
	border-bottom: 1px solid #5796EA;
}

#end{
	border:none;
}

.social{
	position:fixed;
	right:0;
	top:40%;
}

.social a{
	width:50px;
	height:22px;
	padding:14px 0;
	background-color:#ECF2FA;
	display:block;
}

.social a:hover{
	background-color:#487BD2;
}

.social a span{
	width:22px;
	height:22px;
	background-image:url("../imgs/share.png");
	background-repeat:no-repeat;
	text-indent:-9999px;
	margin:0 auto;
	display:block;
}

.social a.fb span{
	background-position:-22px top;
}

.social a.google span{
	background-position:-22px -50px;
}

.social a.email span{
	background-position:-23px -96px;
}

.social a.fb:hover span{
	background-position:2px top;
}

.social a.google:hover span{
	background-position:2px -50px;
}

.social a.email:hover span{
	background-position:1px -96px;
}

.gotop{
	width:50px;
	height:50px;
	text-indent:-9999px;
	display:block;
	background-image:url(../imgs/top.gif);
	background-repeat:no-repeat;
	background-position:left top;
	position:fixed;
	right:0;
	bottom:0;
	display:none;
}

.gotop:hover{
	background-position:left bottom;
}

footer{
	color:#FFFFFF;
	min-width:1080px;
	padding:50px 0;
	background:#3682C3;
	text-align:center;
}

footer p{
	font-size:13px;
	line-height:21px;
	margin-bottom:50px;
}

footer p a{
	color:#FFFFFF;
}

footer p a:hover{
	text-decoration:underline;
}

footer nav{
	width:756px;
	display:inline-block;
}

footer nav a, footer nav span{
	height:58px;
	background-image:url(../imgs/logo.png);
	background-repeat:no-repeat;
	text-indent:-9999px;
	float:left;
}

footer nav a.icon1{
	width:240px;
	background-position:left top;
}

footer nav a.icon2, footer nav span.icon2{
	width:204px;
	background-position:-240px top;
}

footer nav a.icon3{
	width:163px;
	background-position:-444px top;
}

footer nav a.icon4{
	width:148px;
	background-position:-608px top;
}

footer nav a.icon1:hover{
	background-position:left -60px;
}

footer nav a.icon2:hover{
	background-position:-240px -60px;
}

footer nav a.icon3:hover{
	background-position:-444px -60px;
}

footer nav a.icon4:hover{
	background-position:-608px -60px;
}


/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Meyer's reset ends here */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{ display:inline-block;}
/*hides from IE-mac\ */
*html .clearfix{ height:1%;}
.clearfix{display:block;}
/*End hide from IE-mac*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* loading */
#loadWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
  height: 100%;
  background: #3983BF; }

.loader {
  position: fixed;
  top: 50%;
  z-index: 999;
  width: 100%; }

.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

 @media (-webkit-min-device-pixel-ratio: 2){
	.valgin{
		display: table-cell;
	}

	.valgin *{
		-webkit-animation-name: fadeInUp;
  		animation-name: fadeInUp;
	}

	#media{
		display: none;
	}
}