@media screen and (max-width: 1366px) {
	.reasonCircle.reason1{
		top: 40px;
    	left: 16%;
	}

	.reasonCircle.reason2{
		top: -30px;
		left: 42%;
	}

	.reasonCircle.reason3{
		left: 68%;
	}
}

@media screen and (max-width: 1199px){
	.banner{
		height: 500px;
	}

	.bannerCircle {
		width: 62%;
	    height: 0;
	    right: 0;
	    top: 20px;
	    background-size: 100%;
	    background-position: center top;
	    padding-bottom: 100%;
	}

	.bannerIcon {
	    width: 135px;
	    height: 135px;
	    &.icon1 {
		    top: 220px;
		    left: -40px;
		}
	    &.icon2 {
		    top: 40px;
		    left: 80px;
		}
		&.icon3 {
		    top: 0px;
		    right: 110px;
		}
		&.icon4 {
		    right: 0px;
		}
	}

	.bannerInfo p{
		padding-top: 15px;
	}

	.btn{
		margin-top: 0;
	}

	.reasonCircle{
		&.reason1{
	    	left: 10px;
		}
		&.reason2{
			left: 320px;
		}
		&.reason3{
			left: 630px;
		}
	}

	.featureCircle{
		&.feature1{
			top: 410px;
			right: 30px;
		}
		&.feature2{
			top: 650px;
			right: 30px;
		}
		&.feature3{
			top: 800px;
			right: 210px;
		}
		&.feature4{
			top: 800px;
			left: 210px;
		}
		&.feature5{
			top: 650px;
			left: 30px;
		}
		&.feature6{
			top: 410px;
			left: 30px;
		}
	}

	.col-title{
		width: 25%;
	}

	.clock{
		top: 360px;
		right: 420px;
	}

	.caseCircle2{
		transform: translate(10%, 200px);
	}
} /* end 1199 */

@media screen and (max-width: 991px) {
	.banner{
		height: auto;
		background: url("../images/banner.jpg") no-repeat center bottom 30px;
   		background-size: 150%;
   		.mid, .bannerCircle{
   			max-width: 768px;
   			margin: 0 auto;
   		}
	}

	.bannerInfo{
		width: 100%;
		text-align: center;
		padding: 30px 0 0 0;
		#logo{
			width: 414px;
			margin: 0 auto;
			display: block;
			img{
				width: 100%;
				max-width: 991px;
			}
		}
		p{
			font-size: 43px;
		}
	}

	.btn{
		font-size: 21px;
		width: 35vw;
		padding: 5px 25px;
		hr{
			margin-left: 0;
			margin-right: 0;
		}
	}

	.bannerCircle {
		position: relative;
		width: 82.6%;
		height: 0;
		margin: 0 auto;
		padding-bottom: 100%;
	}

	.bannerIcon {
	    width: 16.5vw;
	    height: 16.5vw;
	    &.icon1 {
		    top: 360px;
		    left: 0px;
		}
		&.icon2 {
			top: 120px;
    		left: 0px;
		}
		&.icon3 {
		    top: 80px;
    		right: 0px;
		}
		&.icon4 {
		    top: 250px;
		    right: -40px;
		}
	}

	.aboutCycle {
	    width: 100%;
	    padding-bottom: 100%;
	    height: 0;
	    transform: skewY(5deg) translateY(-30px);
	    background-size: 100%;
	    margin: 0;
	}

	.aboutImg {
		width: auto;
		height: 240px;
		margin: 0 auto;
	    transform: translateX(-20px) translateY(0px);
	    display: block;
	}

	.homeAbout {
	    transform: skewY(-5deg) translateY(-80px);
	}

	.blockquote {
	    height: 280px;
	    h2{
			font-size: 21px;
			padding-bottom: 10px;
	    }
	    p{
			font-size: 16px;
			br{
				display: block;
			}
	    }
	}

	.heartImg{
		width: 9.6vw;
		transform: translateX(100%) translateY(-45%);
	}

	.tableHeader .tableTitle{
		width: 100%;
		height: 0;
		padding-bottom: 65.78%;
	}

	.tableHeader .title2{
		background-position: -190px top;
	}

	.col-info {
	    width: 25%;
	}

	#featured{
		max-width: 768px;
		margin: 0 auto;
		padding: 20px 20px 0 20px;
	}

	.reasons ul{
		padding: 0;
	}

	.reasonCircle{
		position: static;
		width: 334px;
		height: 334px;
		.reasonTitle{
			bottom: 40px;
		}
		p{
			font-size: 23px;
		}
		&.reason2{
		    float: right;
		    transform: translateY(-50%);
		}
		&.reason3{
			margin-top: 18px;
			margin-left: 15px;
		}
	}

	.featureWrap{
		padding-top: 20px;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.featureImg{
		max-width: 991px;
		width: 63.2vw;
		img{
			margin: 0 auto;
			display: block;
		}
		p{
			font-size: 21px;
		}
	}

	.cardImg{
		bottom: 10px;
	}

	.features{
		max-width: 520px;
		margin: 0 auto;
		ul{
			padding: 0;
		}
		.featureCircle{
			width: 250px;
			height: 250px;
			float: left;
			margin: 0 5px 25px 5px;
		}
	}

	.featureCircle{
		position: static;
		h2{
			font-size: 27px;
		}
	}

	.plusImg{
		position: absolute;
		bottom: 530px;
	}

	.plusImg2{
		bottom: 250px;
		display: block;
	}

	.blockquote,  .blockquote .mid{
	    height: 200px;
	}

	.control{
		width: 100vw;
		margin: 0 -15px;
		padding-bottom: 20px;
		text-align: center;
		.btn{
			margin: 0 5px;
		}
	}

	.catimg{
		width: auto;
		height: 240px;
	}

	.caseInfo{
		max-width: 576px;
		margin: 0 auto;
	}

	.caseCircle1{
		width: 300px;
		height: 300px;
		background-size: cover;
		top: 60px;
		margin: 0 auto;
	}

	.caseCircle2, .caseCircle3{
		transform: translate(0, 0);
		margin: 0 auto;
		padding-top: 300px;
		float: none;
	}

	.caseCircle3{
		padding-top: 0;
		margin-top: -120px;
	}

	.clock {
	    top: 150px;
	    right: 80px;
	}

	.note{
		padding-top: 0;
		max-width: 768px;
		h4{
			font-size: 27px;
			padding-bottom: 0;
			width: 50%;
		}
		h5{
			padding-bottom: 0;
		}
		p{
			padding-bottom: 0;
		}
		.btn{
		}
	}

	.noteControl{
		width: 80%;
		margin: 0 auto;
		align-items: center;
		display: flex;
		.btn{
			width: auto;
		}
	}

	.noteimg{
		max-width: 313px;
		margin: 0 auto 15px auto;
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.featureInfo p{
		display: block;
	}
}

@media screen and (min-width: 768px) {
	.mNote{
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.mNote{
		color: #47b3a2;
		font-size: 19px;
		i{
			transform: translateY(1px);
		}
	}

	.bannerIcon.icon1{
		top: 300px;
	}

	.aboutCycle {
		transform: skewY(5deg) translateY(0px);
	}

	.aboutImg{
		transform: translateX(-20px) translateY(-20px);
	}

	.caseTable h3{
		position: relative;
	}

	.homeCase{
		.inner{
    		margin: 0 -15px;
			overflow: auto;
		}
		.caseTable{
			width: 991px;
			max-width: 991px;
		}
	}

	.homeBlock .bg{
		display: none;
	}

	.cardImg{
		width: 120px;
	}

	.col-title{
		position: absolute;
		width: 200px;
		background: #FFF;
		.small{
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.col-info{
		width: calc(568px * 0.3333333333333);
	}

	.col-title, .col-info{
		height: 60px;
	}

	.tableHeader .col-title,
	.tableHeader .col-info{
		height: auto;
	}

	.tableHeader .col-title{
		background: none;
	}

	.col-low{
		height: 45px;
	}

	.col-height{
		height: 80px;
	}

	.column1{
		margin-left: 200px;
	}

	.tableHeader .title2 {
	    background-position: -203px top;
	}

	.caseFooter .col-title, .caseFooter .col-info{
		height: 40px;
	}

	.control{
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.reasonCircle {
	    float: none !important;
	    margin: 0 auto 20px auto !important;
	    transform: translateY(0) !important;
	}

	.caseCircle1{
		text-align: center;
	}

	.circleImg3{
		width: 100%;
		height: auto;
	}
	
	#featured{
		padding-left: 0;
		padding-right: 0;
	}

	.featureImg{
		width: 360px;
		height: 360px;
		margin-bottom: 20px;
		p{
			bottom: 70px;
		}
	}

	.features ul{
		 -moz-column-count: 1;
	    -webkit-column-count: 1;
	    column-count: 1;
	}


	.cardImg {
	    bottom: -30px;
	}

	.table th, .table td{
		font-size: 13px;
	}

	.featureCircle{
		p{
			font-size: 19px;
		}
		p span{
			font-size: 15px; 
		}
	}

	.plusImg{
		bottom: 540px;
	}

	.plusImg2{
		bottom: 260px;
	}
}

@media screen and (max-width: 575px) {
	.bannerIcon {
	    &.icon1 {
		    top: 180px;
		    left: 0px;
		}
	    &.icon2 {
		    top: 70px;
		    left: 0px;
		}
		&.icon3 {
		    top: 40px;
    		right: 0px;
		}
		&.icon4 {
		    top: 120px;
    		right: -20px;
		}
	}

	.banner .bannerCircle{
		width: 310px;
		height: 380px;
		padding-bottom: 0;
	}

	.bannerInfo{
		#logo{
			width: 206px;
		}
		p{
			font-size: 19px;
			padding-top: 10px;
			margin-bottom: 10px;
		}
	}

	.btn{
		width: auto;
		font-size: 15px;
		padding: 2px 25px;
		display: inline-block;
	}

	.blockquote{
		h2{
			font-size: 14px;
			margin-bottom: 0;
		}
		p{
		font-size: 12px;
			margin-bottom: 0;
		}
	}

	.bannerIcon {
	    width: 62px;
	    height: 62px;
	}

	.reasonCircle{
		width: 300px;
		height: 300px;
	}

	.heartImg{
		width: 36px;
		transform: translateX(15px) translateY(-100%);
	}

	.homeAbout .container, .homeBlock .container{
		max-width: 375px;
		padding: 0;
		.col-5{
			padding: 0;
		}
		.col-7{
			padding-right: 0;
		}
	}

	.homeAbout .row, .homeBlock .row{
		margin: 0;
	}

	.homeAbout .inner, .homeBlock .inner{
		padding-left: 20px;
	}

	.blockquote, .blockquote .mid{
		height: 140px;
	}

	.aboutCycle{
		margin: 0;
		transform: skewY(5deg) translateY(-10px) translateX(20px);
	}

	.aboutImg{
		width: 110px;
		height: auto;
		transform: translateX(-10px) translateY(0px);
	}

	.catimg{
		width: 70px;
		height: auto;
	}

	.banner{
		background-position: center bottom;
		.mid{
			height: auto;
			-ms-flex-align: flex-start;
		    -webkit-align-items: flex-start;
		    align-items: flex-start;
		}
	}

	.homeAbout{
		transform: skewY(-5deg) translateY(-20px);
	}

	.homeAbout .col-sm-7, .homeBlock .col-sm-7{
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		.inner{
			width: 100%;
		}
		p{
			text-align: center !important;
		}
	}

	.homeBlock .heartImg{
		transform: translateX(100%) translateY(-50%);
	}

	.reasonCircle{
		width: 243px;
		height: 243px;
	}

	.reasonCircle{
		p{
			font-size: 15px;
		}
		.pinkText {
		    font-size: 17px;
		}
		img{
			height: auto;
		}
		&.reason1 img{
			width: 100px;
		}
		&.reason2 img{
			width: 80px;
		}
		&.reason3 img{
			width: 100px;
		}
	}

	.circleImg3{
		width: 243px;
	}

	.featureImg{
		width: 243px;
		height: 243px;
		p{
			font-size: 15px;
			bottom: 35px;
		}
	}

	.cardImg{
		width: 80px;
		left: 85px;
		bottom: -15px;
	}

	.control{
		padding-bottom: 10px;
	}

	.control, .noteControl{
		display: flex;
	    align-items: center;
	    justify-content: center;
	}

	.btn{
    	font-size: 14px;
    	padding-left: 15px;
    	padding-right: 15px;
    	img{
    		width: 20px;
    	}
    }

	.caseCircle1, .clock{
		width: 50vw;
		height: 50vw;
	}

	.clock{
		top: calc(50vw * 0.3);
		right: 0;
		img{
			width: 50%;
			margin: 0 auto;
			transform: translateX(20px);
			display: block;
		}
	}

	.caseCircle2, .caseCircle3{
		width: 100vw;
		margin: 0 -15px;
	}

	.caseCircle1 {
		top: 0;
		img{
			width: 30%;
		}
		h3{
			font-size: 6vmin;
			margin: 5px 0;
		}
		p{
			font-size: 15px;
		}
	}

	.caseCircle2{
		padding-top: 120px;
		.caseHeader{
			transform: translateY(45%);
		}
		p{
			font-size: 13px;
			margin: 10px 0;
		}
	}

	.caseCircle3{
		padding-top: 0px;
		margin-top: -120px;
		.caseHeader{
			transform: translateY(45%);
		}
		p{
			font-size: 13px;
			margin: 10px 0;
		}
	}

	.caseCircle2 .circle, 
	.caseCircle3 .circle{
		width: 355px;
		height: 355px;
		margin: 0 auto;
	}

	.caseHeader img{
		width: 150px;
	}

	.caseHeader h3{
		font-size: 21px;
		position: static;
		transform: translateY(-35px);
	}

	.homeCase{
		padding-top: 50px;
	}

	.homeCase .caseTable{
		width: 768px;
	}

	.caseCircle2, .caseCircle3{
		.inner{
			width: 80%;
		}
	}

	.caseTable h3{
		font-size: 17px;
	}

	.caseTable p{
		font-size: 15px;
	}

	.caseTable .caseFooter h3{
		font-size: 21px;
	}

	.tableHeader .title2{
		background-position: -204px top;
	}

	.danger{
		right: 55px;
    	bottom: 5px;
	}

	.noteControl{
		width: 80vw;
		margin: 20px -15px 0 -15px;
	}

	.note{
		padding-top: 20px;
		h4{
			font-size: 19px;
		}
		h5{
			font-size: 17px;
		}
		p{
			font-size: 13px;
			margin: 0 -15px;
		}
		.br1, .br2{
			display: block;
		}
	}

	.noteimg{
		max-width: 100%;
	}

	.table th, .table td{
		font-size: 11px;
	}

	.features{
		width: 384px;
		text-align: center;
		margin: 0 auto;
		.featureCircle{
			width: calc((384px - 60px) / 2);
			height: calc((384px - 60px) / 2);
			float: none;
			vertical-align: top;
			display: inline-block;
		}
	}

	.featureCircle{
		.number {
		    font-size: 8.26vmin;
		}
		h2 {
		    font-size: 4.26vmin;
		}
		p, p span{
			font-size: 2.99vmin;
		}
		img{
			width: 40%;
		}
		&.feature5 img, &.feature6 img{
			width: 30%;
		}
	}

	.plusImg{
		width: 45px;
		left: calc((100% - 45px) / 2);
		bottom: calc((384px - 60px) + 55px);
	}

	.plusImg2{
		width: 45px;
		left: calc((100% - 45px) / 2);
		bottom: calc((384px - 60px) / 2 + 30px);
	}

	.col-title{
		width: 150px;
	}

	.column1 {
	    margin-left: 150px;
	}

	.table th, .table td{
		border-top: 1px solid #FFFFFF;
	}
}

@media (max-width: 414px) {
	.features{
		width: 100vw;
   		margin: 0 -15px;
		.featureCircle{
			width: calc((100vw - 30px) / 2);
			height: calc((100vw - 30px) / 2);
		}
	}

	.plusImg{
		width: 45px;
		left: calc((100% - 45px) / 2);
		bottom: calc((100vw - 30px) + 55px);
	}

	.plusImg2{
		width: 45px;
		left: calc((100% - 45px) / 2);
		bottom: calc((100vw - 30px) / 2 + 30px);
	}
}

@media (max-width: 375px){
	.caseCircle2{
		padding-top: 80px;
	}

	.caseHeader h3{
		font-size: 5.6vmin;
		margin: 0;
		transform: translateY(-30px);
	}
}

@media (max-width: 360px){
	.bannerInfo #logo{
		width: 150px;
	}

	.bannerInfo p{
		font-size: 17px;
	}

	.bannerIcon.icon2{
		top: 50px;
	}

	.banner{
		height: 100vh;
	}

	.banner .bannerCircle{
		width: 260px;
	}

	.heartImg{
		width: 28px;
		transform: translateX(-10px) translateY(-100%);
	}

	.bannerIcon.icon1 {
	    top: 140px;
	}

	.bannerIcon.icon4 {
	    top: 120px;
	}

	.control .btn{
		margin-bottom: 20px;
	}
	
	.caseCircle2{
		margin-top: 80px;
	}

	.caseCircle3{
		margin-top: 40px;
	}

	.caseCircle2 p, .caseCircle3 p{
		margin-top: 0;
	}

	.caseCircle2 .caseHeader,
	.caseCircle3 .caseHeader{
		transform: translateY(0%); 
	}

	.caseCircle2 .circle, .caseCircle3 .circle {
		width: 100%;
		height: auto;
	    background: none;
	}

	.caseCircle2 .inner, .caseCircle3 .inner{
		width: 90%;
	}

	.danger{
		font-size: 21px !important;
		bottom: -40px;
	}

	.table th, .table td{
		padding-top: 0;
	}

	.featureCircle {
		.number{
			font-size: 17px;
		}
		h2{
			font-size: 13px;
			margin-bottom: 5px;
		}
		p, p span{
			font-size: 11px;
		}
		p br{
			display: none;
		}
	}

	.featureCircle.feature5 img, 
	.featureCircle.feature6 img{
		width: 20%;
	}
}
